[global]
  checkNewVersion = true

[log]
  level = "ERROR"
  filePath = "/logs/traefik.log"
  format = "json"

[entryPoints]
  [entryPoints.web]
    address = ":80"

  [entryPoints.web-secure]
    address = ":443"

[api]
  dashboard = true

[providers.file]
  directory = "/config"

[providers.docker]
  network = "web"

[certificatesResolvers.le.acme]
  email = ""
  storage = "/acme.json"
  [certificatesResolvers.le.acme.httpChallenge]
    # used during the challenge
    entryPoint = "web"
